/*** css variabler ***/
:root {
  /**farver**/
  --primary: #060030;
  --secondary: #180ea6;
  --accent: #5308e3;
  --white: #f7f9fb;
  --black: RGB(0, 0, 0);

  /** font size **/
  --h1mobil: 2rem;
  --h1desktop: 2.5rem;

  --h2mobil: 1.75rem;
  --h2desktop: 2rem;

  --h3mobil: 1.5rem;
  --h3desktop: 1.75rem;

  --h4mobil: 1.2rem;
  --h4desktop: 1.5rem;

  --pmobil: 0.9375rem;
  --pdesktop: 1.2rem;

  --minitekstmobil: 0.8125rem;
  --minitekstdesktop: 0.6rem;

  /*** css variabl space ***/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

/***Menu***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  z-index: 1000; /** gør indexet højere end alt andet, så den er in front**/
  margin-left: 0;
  margin-right: 0;
  height: 100px;
}

.logo img {
  width: 195px;
  height: 60px;
  padding-left: 2.5rem;
  object-fit: unset;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 900px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 5px;
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Libre Franklin", serif;
  font-weight: normal;
  font-style: normal;
  font-size: small;
  letter-spacing: normal;
}

/******/

.menu li a {
  display: flex;
  align-items: center;
  gap: 10px; /* Afstand mellem tekst og ikon */
}

/******/

.menu a:hover {
  color: var(--white);
  text-decoration: underline;
  /* scale: 1.2; */
  transition-timing-function: ease-in-out;
}

.burger {
  width: 30px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 3px;
  background-color: var(--white);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--primary);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 0.8rem;
  }
}

.container_lottiefile {
  aspect-ratio: 1200/500;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.button {
  background-color: var(--white);
  color: var(--secondary);
  border-radius: 50px;
  border-style: solid;
  border-width: 1.2px;
  border-color: var(--secondary);
  padding: 0.5rem;
  font-family: "DM Sans", serif;
  font-weight: 200;
  font-style: normal;
  cursor: pointer;
  font-size: 1.5rem;
}

.button {
  display: block;
  margin: auto;
  text-align: center;
  width: 150px;
  margin-top: var(--h4desktop);
  margin-bottom: var(--h2desktop);
}
.button:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.img_container1 {
  background-image: url(indhold/index_01_intro.png);
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container2 {
  background-image: url(indhold/index_02_web.png);
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container3 {
  background-image: url(indhold/index_03_ux.png);
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container4 {
  background-image: url(indhold/index_04_animation.png);
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container5 {
  background-image: url(indhold/index_05_indhold.png);
  aspect-ratio: 18/10;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container_ommig {
  background-image: url(indhold/index_om_mig.png);
  aspect-ratio: 20/10;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container1,
.img_container2,
.img_container3,
.img_container4,
.img_container5,
.img_container_ommig {
  margin-bottom: var(--space-md);
}

.img_container1:hover,
.img_container2:hover,
.img_container3:hover,
.img_container4:hover,
.img_container5:hover,
.img_container_ommig:hover {
  scale: 1.05;
  filter: opacity(0.8);
}

.index_container h2,
.container_5 h2,
.container_ommig h2 {
  color: var(--white);
  background-color: var(--primary);
  font-family: "EB Garamond", serif;
  font-size: var(--h2desktop);
  font-weight: 500;
  font-style: normal;
  text-align: center;
  height: 60px;
  line-height: 55px;
}

@media screen and (min-width: 800px) {
  .grid_index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .img_container1,
  .img_container2,
  .img_container3,
  .img_container4,
  .img_container5,
  .img_container_ommig {
    margin-bottom: 0;
  }
  .container_5 {
    grid-column: span 2;
  }

  .container_ommig {
    grid-column: span 2;
    margin-bottom: 30px;
  }
}

/******** Footer design ********/

.footer_container {
  background-color: var(--primary);
  color: var(--white);
  letter-spacing: 3px;
  padding-top: 30px;
  font-family: "Libre Franklin", serif;
  font-weight: lighter;
  font-style: normal;
  font-size: small;
}

.tekst_footer {
  font-family: "Libre Franklin", serif;
  font-weight: normal;
  font-style: normal;
  font-size: small;
}

.footer_logoer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.footer_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 100px;
  margin-top: var(--space-xl);
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.logo_footer img {
  width: 195px;
  height: 60px;
  padding-left: 12.5px;
  object-fit: unset;
}

.info_footer {
  padding-left: 15px;
  max-width: 550px;
  margin-top: 0;
}

.info_footer h5 {
  margin-bottom: 10px;
  font-family: "Libre Franklin", serif;
  font-weight: normal;
  font-style: normal;
  font-size: medium;
  letter-spacing: normal;
}

.footer_menu li,
a {
  color: #fffbfb;
  text-decoration: none;
  list-style-type: none;
}

.footer_menu_overskrift {
  font-family: "Libre Franklin", serif;
  font-weight: normal;
  font-style: normal;
  font-size: medium;
  letter-spacing: normal;
}

.footer_menu ul {
  font-family: "Libre Franklin", serif;
  font-weight: normal;
  font-style: normal;
  font-size: small;
  letter-spacing: normal;
  margin-left: 0px;
  margin-top: 18px;
  margin-bottom: 35px;
  line-height: 12px;
}

.footer_menu a:hover,
li:hover {
  text-decoration: underline;
}
.sociale_medier {
  display: block;
  text-align: center;
  margin-top: var(--space-xxl);
}
.sociale_medier i {
  font-size: 30px;
  color: #fffbfb;
  letter-spacing: 10px;
  padding-bottom: 15px;
}

.sociale_medier i:hover {
  color: var(--accent);
  scale: 1.2;
}

.footer_container hr {
  margin: auto;
  color: var(--white);
  width: 99%;
}

.footer_bottom p {
  font-size: var(--minitekstdesktop);
  width: 100%;
  padding-left: 15px;
  margin-top: 5px;
  /* margin-top: 60px; */
}
.footer_bottom a {
  font-size: 3rem;
  color: var(--white);
  padding: 10px;
}

.footer_bottom a:hover {
  color: var(--accent);
  scale: 1.2;
}

@media screen and (min-width: 800px) {
  .footer_logoer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-left: 30px;
  }

  .footer_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .footer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 15px;
    margin-top: 0;
  }

  .sociale_medier {
    padding-left: 15px;
    margin-top: var(--space-xxl);
    text-align: left;
  }

  .menu a:hover {
    scale: 1.2;
  }

  .tekst_footer {
    width: auto;
  }

  .footer_menu {
    margin-right: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .logo_footer img {
    display: block;
    margin: auto;
    width: 80%;
  }

  .info_footer {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-inline: 80px;
  }
}

@media screen and (max-width: 1100px) {
  .footer_section {
    display: block;
  }

  .footer_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*********** 01_introuge *************/
.grid_01_2 {
  padding: 30px;
  margin-bottom: 50px;
}

.grid_01_3 {
  padding: 30px;
  margin-bottom: 50px;
}

.grid_01_4 {
  padding: 30px;
  margin-bottom: 50px;
}

.grid_01_4 iframe {
  display: block;
  margin: auto;
  width: 100%;
}

.img_container_01_1 {
  background-image: url(indhold/01_introuge_mit_første_domaene.png);
  aspect-ratio: 20/11;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container_01_2 {
  background-image: url(indhold/01_intro_praesentationskort.png);
  aspect-ratio: 20/11;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.video_container_01 {
  margin-top: 20px;
}
@media screen and (min-width: 800px) {
  .grid_01_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_01_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_01_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .img_container_01_2 {
    grid-column: 1;
    grid-row: 1;
  }

  .video_container_01 {
    padding-right: 75px;
    margin-top: 0;
  }
}

/********** 02_web **********/
.grid_02_4 img {
  object-fit: cover;
  align-items: stretch;
}

@media screen and (min-width: 800px) {
  .grid_02_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_02_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .bokse_20 {
    grid-column: span 2;
  }

  .grid_02_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .tekst_02 {
    grid-column: 2/3;
    grid-row: span 2;
    padding-right: 30px;
    padding-top: 35px;
  }
  .grid_02_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .billede_1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .billede_2 {
    grid-column: 3/5;
    grid-row: 1/2;
  }

  .billede_3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .billede_4 {
    grid-column: 2/5;
    grid-row: 2/3;
  }
}

/********** 03_ux **********/

@media screen and (min-width: 800px) {
  .grid_03_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_03_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .img_moodboard {
    grid-column: span 2;
  }

  .grid_03_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_03_4 {
    grid-column: 1;
    grid-row: 1;
  }
  .grid_03_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .img_prototype {
    grid-column: span 3;
  }

  .grid_03_5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .grid_03_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .tests {
    grid-column: 1;
    grid-row: 1;
  }
}

/********** 04_animation **********/

@media screen and (min-width: 800px) {
  .grid_04_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_04_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  .grid_04_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_04_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_04_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .img_container_sprite {
    grid-column: span 2;
  }

  .grid_04_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_04_7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}

/********** 05_Indholdsproduktion **********/

@media screen and (min-width: 800px) {
  .grid_05_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_05_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  .container_05_section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 30px;
  }

  .tekst_05_2 {
    grid-column: 1/2;
    grid-row: 3/4;
    color: white;
  }

  .tekst_05_3 {
    grid-column: 2/3;
    grid-row: 3/4;
    color: white;
  }

  .img_05_premier_pro {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .img_05_after_effects {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .img_05_premier_pro img,
  .img_05_impl_video img,
  .img_05_after_effects img,
  .img_05_impl_lottie img {
    object-fit: cover;
    align-self: stretch;
  }

  /**** virksomhedssite ******/

  .grid_05_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_05_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_05_4 img {
    object-fit: cover;
    align-self: stretch;
  }
  .img_trello {
    grid-column: span 2;
  }

  .grid_05_5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_05_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .grid_05_7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    background-color: var(--primary);
    padding: 30px;
    border-radius: 20px;
  }

  .tekst_05_4 {
    color: white;
  }
}
/*********** Om mig ************/

.grid_om_mig {
  padding: 50px;
}
.img_container_om_mig {
  background-image: url(indhold/profilbillede.png);
  aspect-ratio: 1/1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img_container_cv {
  background-image: url(indhold/Cv.png);
  aspect-ratio: 1/1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 800px) {
  .grid_om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .img_container_om_mig {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
