:root {
  /**farver**/
  --primary: #060030;
  --secondary: #180ea6;
  --accent: #5308e3;
  --white: #f7f9fb;
  --box: #dee1ec;
  --black: RGB(0, 0, 0);
  --grey: #f0f1f5;

  --h1mobil: 2rem;
  --h1desktop: 1.5rem;

  --h2mobil: 1.75rem;
  --h2desktop: 2rem;

  --h3mobil: 1.5rem;
  --h3desktop: 1.75rem;

  --h4mobil: 1.2rem;
  --h4desktop: 1.5rem;

  --pmobil: 0.9375rem;
  --pdesktop: 1.2rem;

  --minitekstmobil: 0.8125rem;
  --minitekstdesktop: 0.6rem;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
/* h1 {
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  font-variation-settings: "wdth" 90;
  text-align: center;
  padding-top: 10px;
  margin-top: var(--space-md);
  margin-bottom: var(--h1desktop);
} */

/* h1 {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  padding-top: 10px;
  margin-top: var(--space-md);
  margin-bottom: var(--h1desktop);
} */

h1 {
  font-family: "raleway", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  font-variation-settings: "wdth" 90;
  text-align: center;
  padding-top: 10px;
  margin-top: var(--space-md);
  margin-bottom: var(--h1desktop);
}

/* h2 {
  font-family: "Open Sans", serif;
  font-size: var(--h3desktop);
  font-weight: 350;
  font-style: normal;
  padding-inline: 30px;
  margin-bottom: 15px;
} */

h2 {
  font-family: "raleway", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  font-variation-settings: "wdth" 90;
  padding-inline: 30px;
  margin-bottom: 15px;
}

h3 {
  font-family: "DM Sans", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1px;

  text-decoration: none;
  margin-bottom: 15px;
}

/* h4 {
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  font-weight: 550;
  padding-inline: 30px;
  margin-bottom: 15px;
} */

h4 {
  font-family: "raleway", serif;
  font-weight: 550;
  font-size: 1.2rem;
  font-style: normal;
  font-variation-settings: "wdth" 90;
  padding-inline: 30px;
  margin-bottom: 15px;
}

p {
  font-family: "DM Sans", serif;
  font-style: normal;
  font-size: var(--pdesktop);
  font-weight: 300;
  letter-spacing: 0.1px;
  padding-inline: 30px;
  margin-left: 2px;
  margin-bottom: 15px;
}

ul li {
  font-family: "DM Sans", serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1px;

  margin-left: 25px;
  text-decoration: none;
  margin-bottom: 15px;
}

main {
  display: block;
  margin: auto;
  max-width: 1350px;
}

html {
  background-color: var(--grey);
}

hr {
  display: block;
  margin: auto;
  width: 80%;
}

.hjemmeside {
  display: block;
  margin: auto;
  max-width: 80%;
}
/********** Index style **********/

.grid_index {
  padding-inline: 200px;
}

.index_h1 {
  background-color: var(--primary);
  margin-bottom: 30px;
  height: 80px;
}

.index_h1 h1 {
  display: block;
  color: var(--white);
  margin-top: 0;
  padding-top: 17px;
}

.index_container,
.container_5,
.container_ommig {
  border: solid;
  border-color: #060030;
  background-color: var(--primary);
}

@media screen and (max-width: 800px) {
  .grid_index {
    display: block;
    padding-inline: 30px;
  }

  .index_container,
  .container_5,
  .container_ommig {
    margin-bottom: 30px;
  }
}

.main_container {
  /* background-image: url(indhold/background_grey.png);
  aspect-ratio: 2/1;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--primary);
  border-radius: 20px;
  margin: 30px;
}

.text_container_temabeskrivelse h4,
.text_container_temabeskrivelse p {
  color: var(--grey);
}

.text_container_temabeskrivelse p {
  padding-bottom: 30px;
}

.text_container p {
  margin-left: 3px;
}

.text_container p:hover {
  text-decoration: underline;
}

.text_container li {
  margin-left: 30px;
}
.text_container {
  padding-inline: 20px;
  padding-bottom: 30px;
}

.main_container hr {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 40px;
  color: var(--white);
}

.main_container h1 {
  display: block;
  margin-bottom: 10px;
  color: var(--white);
}

.text_container h4,
.text_container p,
.text_container ul {
  color: var(--grey);
}

.tema_01 ul li {
  font-size: var(--pdesktop);
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .main_container {
    display: block;
    margin: auto;
  }

  .tema_01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 30px;
  }
}

/**** 02_Web ****/

.grid_02_1 {
  padding: 30px;
  background-color: var(--box);
  border-radius: 20px;
}

.tekst_02 {
  max-width: 80%;
}
.billeder_3 {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-left: 150px;
}

.billeder_3 img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.grid_02_2 {
  display: block;
  margin: auto;
  width: 75%;
}

.text_section {
  background-color: var(--box);
  color: var(--black);

  padding-block: 20px;
  border-radius: 20px;
}

.text_section,
.grid_02_4 {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .grid_02_2 {
    display: block;
    margin: auto;
    width: 75%;
  }

  .text_section h3,
  .text_section p {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 10px;
  }

  .grid_diagrammer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .overskrift_uden_alternate {
    color: var(--white);
  }
}

.grid_01_3 {
  background-color: var(--box);
  border-radius: 20px;
}

.grid_01_3 div {
  padding-inline: 30px;
}

.grid_03_2 {
  max-width: 75%;
}

.grid_om_mig {
  display: block;
  margin: auto;
  max-width: 100%;
  background-color: var(--primary);
  color: var(--white);
  margin-top: var(--space-md);
  border-radius: 50px;
  margin-bottom: var(--space-md);
}

.grid_04_1 {
  background-color: var(--box);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: var(--space-xxl);
}

.grid_04_4 {
  background-color: var(--box);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: var(--space-xxl);
}

.grid_05_1 {
  background-color: var(--box);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: var(--space-xxl);
}

.passionssite_h2 {
  margin-left: 30px;
}

.grid_05_3 {
  background-color: var(--box);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: var(--space-xxl);
}

.grid_05_5 {
  padding: 30px;
  margin-bottom: var(--space-xxl);
}

.heruristisk_variabler {
  width: 80%;
}

.overskrift_emner {
  color: var(--black);
}

.overskrift_emner h3 {
  font-weight: 900;
}
.overskrift_emner:hover {
  text-decoration: underline;
}

.overskrift_uden {
  font-weight: 900;
}

.overskrift_uden_alternate {
  font-weight: 900;
}

.overskrift_website {
  color: black;
}

.overskrift_website:hover {
  color: var(--accent);
}

@media screen and (max-width: 800px) {
  .overskrift_emner {
    text-align: center;
  }

  .overskrift_emner h3 {
    margin-top: var(--space-xl);
  }

  .overskrift_uden,
  .overskrift_uden_alternate {
    text-align: center;
    margin-top: var(--space-xl);
  }

  .tekst_02,
  .billeder_3 {
    display: block;
    margin: auto;
  }

  .grid_styletile {
    margin-bottom: var(--space-lg);
  }

  .grid_styletile div img {
    display: block;
    margin: auto;
    max-width: 60%;
  }

  .grid_03_4 div img {
    display: block;
    margin: auto;
    max-width: 60%;
  }

  .img_prototype a img {
    display: block;
    max-width: 100%;
  }

  .grid_03_2 {
    display: block;
    margin: auto;

    max-width: 60%;
  }

  .grid_04_7 div img {
    display: block;
    margin: auto;

    max-width: 70%;
  }

  .grid_04_7 {
    padding-bottom: var(--space-xxl);
  }

  .grid_04_5 div img {
    display: block;
    margin: auto;

    max-width: 60%;
  }

  .grid_diagrammer div img {
    display: block;
    margin: auto;

    max-width: 60%;
  }

  .grid_diagrammer {
    margin-bottom: var(--space-xxl);
  }

  .grid_04_2 div img {
    display: block;
    margin: auto;

    max-width: 60%;
  }

  .heruristisk_variabler {
    display: block;
    margin: auto;

    max-width: 60%;
  }

  .grid_05_7 {
    margin-bottom: var(--space-xxl);
  }

  .grid_05_6 div img {
    display: block;
    margin: auto;

    max-width: 60%;
  }

  iframe {
    display: block;
    margin: auto;
    min-width: 310px;
  }

  .container_05_section_2 {
    margin-bottom: var(--space-xxl);
  }

  .container_05_section_2 div img {
    display: block;
    margin: auto;
    max-width: 70%;
    margin-bottom: var(--space-lg);
  }

  .grid_05_2 div img {
    display: block;
    margin: auto;

    max-width: 60%;
  }

  video {
    display: block;
    margin: auto;
    min-width: 310px;
  }

  iframe {
    height: auto;
  }
}

.active {
  background-color: var(--accent);
  scale: 1.2;
  border-radius: 20px;
  color: white;
}
