:root {
  /**farver**/
  --primary: #060030;
  --secondary: #180ea6;
  --accent: #5308e3;
  --white: #f7f9fb;
  --black: RGB(0, 0, 0);
  --grey: #f0f1f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
h1 {
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  padding-top: 10px;
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

h2 {
  font-family: "Open Sans", serif;
  font-size: var(--h3desktop);
  font-weight: 350;
  font-style: normal;
  margin-bottom: 15px;
}

h4 {
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
  font-weight: 550;
  margin-bottom: 15px;
}

p {
  font-family: "DM Sans", serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin-left: 2px;
  margin-bottom: 15px;
}

ul li {
  font-family: "DM Sans", serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin-left: 25px;
  text-decoration: none;
  margin-bottom: 15px;
}

main {
  display: block;
  margin: auto;
  max-width: 1350px;
}

html {
  background-color: var(--grey);
}

hr {
  display: block;
  margin: auto;
  width: 80%;
}
/********** Index style **********/

.grid_index {
  padding-inline: 200px;
}

.index_h1 {
  background-color: var(--primary);
  margin-bottom: 30px;
  height: 80px;
}

.index_h1 h1 {
  display: block;
  color: var(--white);
  margin-top: 0;
  padding-top: 17px;
}

.index_container,
.container_5,
.container_ommig {
  border: solid;
  border-color: #060030;
  background-color: var(--primary);
}

@media screen and (max-width: 800px) {
  .grid_index {
    display: block;
    padding-inline: 30px;
  }

  .index_container,
  .container_5,
  .container_ommig {
    margin-bottom: 30px;
  }
}

.main_container {
  /* background-image: url(indhold/background_grey.png);
  aspect-ratio: 2/1;
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--primary);
}

.text_container p {
  margin-left: 3px;
}

.text_container li {
  margin-left: 30px;
}
.text_container {
  padding-inline: 20px;
  padding-bottom: 30px;
}

.main_container hr {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 40px;
  color: var(--white);
}

.main_container h1 {
  display: block;
  margin-bottom: 10px;
  color: var(--white);
}

.text_container h4,
.text_container p,
.text_container ul {
  color: var(--grey);
}

@media screen and (min-width: 800px) {
  .main_container {
    display: block;
    margin: auto;
  }

  .tema_01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 30px;
  }
}

/**** 02_Web ****/

.grid_02_1 {
  padding: 30px;
}

.billeder_3 img {
  display: block;
  margin: auto;
  max-width: 400px;
  margin-bottom: 30px;
}

.grid_02_2 {
  display: block;
  margin: auto;
  width: 75%;
}

.text_section {
  background-color: var(--secondary);
  color: var(--grey);
  margin-bottom: 30px;
  padding-block: 20px;
}
@media screen and (min-width: 800px) {
  .grid_02_2 {
    display: block;
    margin: auto;
    width: 75%;
  }

  .text_section h2,
  .text_section p {
    display: block;
    margin: auto;
    max-width: 800px;
    padding: 10px;
  }
}
